@model Applican.Models.Applicant

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление</h2>

<h3>Действительно хотите удалить информацию о соискателе?</h3>
<fieldset>
    <legend>Applicant</legend>

    <div class="display-label">Имя</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">Фамилия</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SecondName)
    </div>

    <div class="display-label">Отчество</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MiddleName)
    </div>

    <div class="display-label">E-mail</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EMail)
    </div>

    <div class="display-label">Название файла резюме(Оставлено для дебага)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FileName)
    </div><div class="display-label">
    MigrationTest
  </div>
  <div class="display-field">
    @Html.DisplayFor(model => model.MigrationTest)
  </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
