@model VacancyManager.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">UserName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">Password</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">PasswordSalt</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PasswordSalt)
    </div>

    <div class="display-label">UserComment</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserComment)
    </div>

    <div class="display-label">CreateDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>

    <div class="display-label">LaslLoginDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LaslLoginDate)
    </div>

    <div class="display-label">IsActivated</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActivated)
    </div>

    <div class="display-label">IsLockedOut</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsLockedOut)
    </div>

    <div class="display-label">LastLockedOutDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastLockedOutDate)
    </div>

    <div class="display-label">LastLockedOutReason</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastLockedOutReason)
    </div>

    <div class="display-label">EmailKey</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailKey)
    </div>

    <div class="display-label">Role</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Role)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
