@model Employees.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Employee</legend>

    <div class="display-label">LastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">MiddleName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MiddleName)
    </div>



    
    <div class="display-label"> 
    @Html.LabelFor(model => model.Positions) 
</div> 
<div class="display-field"> 
    <table> 
        <tr> 
            <th>Должность</th>
        </tr> 
        @foreach (var item in Model.Positions) 
        { 
            <tr> 
                <td> 
                    @Html.DisplayFor(modelItem => item.NamePosition) 
                </td> 
            </tr> 
        } 
    </table> 
</div>




</fieldset>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id=Model.Positions }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
